{namespace sschhtml5videoplayer=Ssch\SschHtml5videoplayer\ViewHelpers}
<f:if condition="{video}">
    <sschhtml5videoplayer:video settings="{settings}" video="{video}" controls="controls" preload="none">
        <f:comment>
            <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
            <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
            <!-- Ogg/Vorbis for older Firefox and Opera versions -->                        
        </f:comment>
        <f:for each="{video.videos}" as="videoFal">
            <source src="{videoFal.originalResource.publicUrl}" type="video/{videoFal.originalResource.extension}" />                        
        </f:for>        
        <f:if condition="{video.externalSource}">
            <!-- External Source from youtube or vimeo -->
            <source type="{video.externalType}" src="{video.externalSource}">
        </f:if>
        <!-- Subtitles -->
        <f:if condition="{video.subtitles}">
            <f:for each="{video.subtitles}" as="subtitle">                
                <track srclang="{subtitle.staticLangIsocode.isoCodeA2}" kind="subtitles" type="text/{subtitle.extension}" src="{subtitle.url}" />                
            </f:for>
        </f:if>
        <f:render partial="Video/FlashEntry" arguments="{video: video}" />
    </sschhtml5videoplayer:video>
    <f:if condition="{video.caption}">
        <p><i>{video.caption}</i></p>
    </f:if>
</f:if>
