{namespace sschhtml5videoplayer=Ssch\SschHtml5videoplayer\ViewHelpers}
<f:if condition="{video}">
    <sschhtml5videoplayer:video settings="{settings}" video="{video}" poster="{video.posterImage}" controls="controls" preload="none">
        <f:if condition="{video.mp4Source}">
            <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
            <source src="{video.mp4Source}" type="video/mp4" />
        </f:if>
        <f:if condition="{video.webMSource}">
            <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
            <source src="{video.webMSource}" type="video/webm" />
        </f:if>
        <f:if condition="{video.oggSource}">
            <!-- Ogg/Vorbis for older Firefox and Opera versions -->
            <source src="{video.oggSource}" type="video/ogg" />
        </f:if>               
        <f:if condition="{video.externalSource}">
            <!-- External Source from youtube or vimeo -->
            <source type="{video.externalType}" src="{video.externalSource}">
        </f:if>

        <!-- Subtitles -->
        <f:if condition="{video.subtitles}">
            <f:for each="{video.subtitles}" as="subtitle">                
                <track srclang="{subtitle.staticLangIsocode.isoCodeA2}" kind="subtitles" type="text/vtt" src="{subtitle.track}" />                
            </f:for>
        </f:if>
        <f:render partial="Video/FlashEntry" arguments="{video: video}" />
    </sschhtml5videoplayer:video>
    <f:if condition="{video.caption}">
        <p><i>{video.caption}</i></p>
    </f:if>
</f:if>
