<f:comment>
    <titles>
        <default>Vollansicht</default>
    </titles>
</f:comment>
<f:layout name="Default" />
<f:if condition="{audios}">
    <f:section name="content">
        <f:for each="{audios}" as="audio">
            <h2>{audio}</h2>
            <f:if condition="{audio.image}">
                <p>
                <f:image image="{audio.image}" />
                </p>
            </f:if>
            <f:if condition="{audio.description}">
                <f:format.html>{audio.description}</f:format.html>
            </f:if>
            <f:render partial="Audio/Entry" arguments="{audio: audio}" />
        </f:for>
    </f:section>
</f:if>